*{
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #187FDE;
  margin: 0;
  padding: 50px 0;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.card{
  background-color: white;
  margin: 20px;
  width: 300px;
  border-radius: 15px;
  filter: drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.15));
  padding-bottom: 20px;
}

.card img{
  border-radius: 15px 15px 0 0;
}

.card h3{
  font-weight: normal;
  margin: 0;
}

.card h1{
  font-size: 25px;
  margin: 0;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p{
  color: white;
  margin: 0;
  width: fit-content;
  padding: 0px 15px;
  border-radius: 10px;
}

p.alive{
  background-color: #187FDE;
}

p.dead{
  background-color: #DE1818;
}

p.unknown{
  background-color: black;
}